@CHARSET "ISO-8859-1";
.container-fluid {
	margin-right: 15px;
	margin-left: 15px;
}

/* Typeahead */
.twitter-typeahead, tt-hint {
	width: 100%;
}

.tt-dropdown-menu {
	border: solid 1px silver;
	margin-top: 2px;
	border-radius: 4px;
}

.tt-suggestion {
	padding: 1px 5px;
}

.tt-is-under-cursor {
	background: grey;
}

.tt-dropdown-menu {
	background-color: white;
}

/* Fondos de pantalla */
.bk {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -100;
	overflow: hidden;
}

.bk1 { background: url("../img/avion.jpg"); }
.bk2 { background: url("../img/barco.jpg"); }
.bk3 { background: url("../img/camion.jpg"); }
.bk4 { background: url("../img/volando.jpg"); }

/* Contenidos */
.contenidos {
	margin-right: 15px;
	margin-left: 15px;
	padding: 15px;
}

.container {
	background: url("../img/white80.png");
}

/* Footer */
.footer {
	border-top: dotted;
	border-top-width: 2px;
	margin-top: 20px;
	padding-top: 20px;
	background: none;
}

/* Hoja de trabajo */
#hoja_de_trabajo {
	background: white;
	box-shadow: -2px 3px 10px #888888;
}

/*Nav bar style*/

.navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
}